@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

body {
    font: 400 14px Roboto, sans-serif;
    /* background: #f6f4fc; */
    background: #4b3a88;
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 16px;
    background-color: #f6f4fc;
    margin: 0 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    flex: 1;
    margin: 2em 0;
    width: 100%;
    max-width: 600px;
    /* background-color: #3ba8d4; */
    padding: 10px 0px;
}

.content .mini-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.content .content-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
    
}